/** CSS STYLE **/
*{
    box-sizing: border-box;
}
:root {
    --white: #fff;
    --trans-white: #d7ccc0;
    --light: #f5f4f0;
    --main: #fe8a02;
    --main-dark: #42413c;
    --dark: #2a2626;
    --trans-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Neucha';
    src: url('../assets/fonts/Neucha-Regular.ttf');
}

html { 
    color: var(--dark);
    font: 16px/1.6em 'Open Sans', sans-serif;

    background: var(--white);
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    line-height: 1.2em;
    font-family: 'Neucha', cursive;
    font-weight: 400;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size:34px;
}

header {
    /*position: relative;
    z-index: 1;*/
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 100px;
    background-color: var(--light);
}

header::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url(../../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
}

header h1 {
    position: relative;
    color: var(--main);
    text-align: left;
    margin-left: 165px;
    /*margin-top: 100px;*/
    z-index: 1;
}

header > h1 span:nth-child(2) {
    color: var(--dark);
}

header > img {
    position: absolute;
    height: 525px;
    top: 55px;
    right: -270px;
    z-index: -1;
}

header > article {
    display: flex;
    justify-content: space-between;
    margin-left: 165px;
    margin-top: 181px;
}

header > article > p {
    /*position: absolute;
    display: block;*/
    flex-basis: 50%;
    text-align: left;
    /*width: 540px;*/
}

.block-one {
    margin-left: 0;
    /*padding-top: 4px;/*543px;*/
}

.block-two {
    margin-left: 30px;/*735px;*/
    /*margin-top: 181px;539px;*/
    padding-top: 4px;/*543px;*/
}

.button {
    /*position: absolute;*/
    margin-left: 735px;
    margin-top: 40px;/*765px;*/
    background-color: var(--main);
    border: none;
    color:var(--white);
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    /*margin: 40px 2557x 100px auto;*/
    cursor: pointer;
}

main {
    max-width: 1100px;
    margin: 100px 0;
    text-align: center
}

footer {
    max-width: 1100px;
    margin: 100px 0;
    text-align: center
}